DEMO_MODE=true
TABLE_NAME=project-name-plans
WORKFLOW_ARN=
BEDROCK_MODEL_ID=
TOMORROW_IO_API_KEY=
APP_TIMEZONE_OFFSET=+05:30
AWS_REGION=ap-south-1
AMAZON_LOCATION_API_KEY=
AMAZON_LOCATION_MAP_STYLE=Standard
